h1 {
    font-weight: 200;
}

@media (min-width: 768px) {
    .bootstrap-vertical-nav {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}